################
### Settings ###
################

[general]
# General:enabled_plugins
# Choose which outputs to use
# Possible options: MysqlOutput,PVoutputOutput,ConsoleOutput,CSVOutput, SQLiteOutput
enabled_plugins = SQLiteOutput, PVoutputOutput

[inverter]
# IP address of your Omnik inverter
ip = 192.168.0.22
# Default for a Omnik with Wifi module
port = 8899
# time to wait for inverter response
timeout = 2.5
# S/N of the wifi kit
wifi_sn = 1611429683
#use temperature of inverter for pvoutput
use_temperature = true

[pvout]
# These two can be found at http://pvoutput.org/account.jsp
apikey = 5906607f3b9ade2cddfde473c6cfd5f1064f350e
sysid  = 54350

[domoticz]
host      = 192.168.1.10
port      = 8080
path      = /json.htm

# Provide IDX here of the specific devices
temp_idx                = idx
stringvoltage_idx       = idx
AC_voltage_idx          = idx
Power_Dailyenergy_idx   = idx
stringcurrent_idx       = idx
Lifetimeenergy_idx      = idx


[mysql]
# Host where the mysql server is active
host = 127.0.0.1
user =
pass =
database =

[sqlite]
database = /mnt/NAS_QData/Stas/omnik.sqlite

[csv]
disable_header = false

[log]
# Log:Output
# Possible options: none,console,file (combinations are possible)
# Use none to disable logging
type = file

# Log:level
# Possible options: critical, error, warning, info, debug
level = debug

# Log:filename
# Output file for file logger
filename = omnik-export.log
